a:link {  color: #333333; text-decoration: underline}
a:visited {  color: #333333; text-decoration: underline}
a:hover {  color: #333333; text-decoration: none}
.logo {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 26px; font-weight: bold; color: #ffffff}
.text {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff}
.title {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #8f390d}
